.gallery_main{
    background: conic-gradient(from 233.89deg at 52.21% 57.36%, #0A1821 0deg, #2D0067 360deg);
    width: 100%;
    position: relative;
    border-top: 2px solid var(--color-orange);
    border-bottom: 2px solid var(--color-orange);
    padding: 2rem 1.5rem 20rem 1.5rem;
    bottom: -80px;
}
.topic_heading{
    color: var(--color-white);
    border-bottom: 1px solid var(--color-orange);
}
.topic_heading h1{
    font-size: 3.5rem;
    padding: 0rem 4rem 0.5rem 4rem;
}
.topic_heading h1 span{
    color: var(--color-orange);
}
.image_list{
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0rem 6rem;
}
.image_list img{
    padding: 15px;
    margin: 4px;
    width: 290px;
    height: 290px;
    border: 0.5px solid var(--color-orange);
    border-radius: 15px;
}