.app__navbar{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: var(--color-theme);
    color: white;
    padding: 0.5rem 2rem;
    border-bottom: 2px solid var(--color-orange);
    box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.8);
} 
.app__navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.app__navbar-logo img{
    width: 0px;
}
.app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.app__navbar-links li{
    margin: 0 1rem;
    cursor: pointer;
    padding: 10px 30px;
    border: 0.2px solid transparent;
    border-bottom: 2.5px solid transparent;
    transition: 0.2s ease-in;
}
.app__navbar-links li:hover{
    background: radial-gradient(49.84% 89.81% at 49.84% 118.29%, rgba(255, 92, 0, 0.64) 0%, rgba(255, 107, 0, 0) 100%);
    border: 0.2px solid var(--color-orange);
    border-bottom: 2.5px solid var(--color-orange);
    border-radius: 14px;
}
.app__navbar-links li a{
   text-decoration: none;
   color: #fff;
   
}
.app__navbar-links li a:hover{
   
 }
.app__navbar-smallscreen{
    display: none;
}
.app__navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;

    flex-direction: column;
    z-index: 5;
}
.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;

}
.app__navbar-smallscreen_links{
    list-style: none;
}
.app__navbar-smallscreen_links li{
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}
.app__navbar-smallscreen_links li a{
    text-decoration: none;
    color: #fff;
}
.app__navbar-smallscreen_links li:hover{
    color: var(--color-white);
}

@media screen and (max-width:2000px) {
    .app__navbar-logo img{
        width: 35px;
    }
}

@media screen and (max-width:1150px) {
    .app__navbar-links{
        display: none;
    }
    .app__navbar-smallscreen{
        display: flex;
    }
    .app__navbar-logo img{
        width: 35px;
    }
    
}

@media screen and (max-width:650px) {
    .app__navbar{
        padding: 1rem;
    }

    .app__navbar-login{
        display: none;
    }

    .app__navbar-logo img{
        width: 28px;
    }
}